asgiref==3.2.7
bokeh==2.0.2
certifi==2020.4.5.1
Django==3.0.5
django-registration-redux==2.7
Jinja2==2.11.2
MarkupSafe==1.1.1
micawber==0.5.1
numpy==1.18.3
packaging==20.3
pandas==1.0.3
Pillow==7.1.2
psycopg2==2.8.5
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
six==1.14.0
SQLAlchemy==1.3.16
sqlparse==0.3.1
tornado==6.0.4
typing-extensions==3.7.4.2
