<!DOCTYPE html>
<html lang="en">

{% load static %}    
{% include 'dc_dash/includes/dc_customCSS.html' %}


<head>
    <!-- JIRA_ROHIT_PendingTask_removed_jquery_4 from here for testing  -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>


</head>

<style>
/* CSS in dc_customCSS.html == .modal_DropDownMenu_header ..etc etc ... */
body {
  background-color: rgb(80, 199, 235);
  font-family: 'Roboto';font-size: 12px;
      }
</style>

<body>


                      
                    <div id = "checkbox_for_eda_SearchAndReplace"  class="custom-control custom-checkbox mb-3">  <!--  STARTS == EDA_SearchAndReplace -->
                        <input type="checkbox" class="custom-control-input" id="EDA_SearchAndReplace" name="EDA_SearchAndReplace">
                        <label class="custom-control-label" for="EDA_SearchAndReplace">Search and Replace</label>
                    </div>


                    <div id = "conditional_EDA_SearchAndReplace" > 

                        <!-- STARTS ==  conditional_EDA_SearchAndReplace -->


                          <form action=/dc/eda_actionSearchAndReplace_/ method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              <p>
                                  <label for="eda_new_column">New Column:</label>
                                    <select id="eda_new_column" name="form_input_new_column">

                                      <option value="new_col">Results in New Col.</option>
                                      <option value="old_col">Overwrite Chosen Col.</option>
                                      
                                    </select>
                                  <button type="button" style="color:green;" id="choose_button" onclick="eda_newColumn()">Choose</button>

                                  <script>
                                    document.getElementById('choose_button').onclick = changeColor; 
                                    
                                    function changeColor() { 
                                              document.getElementById('choose_button').style.color = "red";
                                        }
                                    </script>
  
                                  <script>
                                    function eda_newColumn() {
                                        var choose_newColumn = document.getElementById("eda_new_column").value;
                                        
                                      }
                                  </script>
                              </p>


                              <p>
                                  <label for="eda_operation_type">Choose Operation:</label>
                                    <select id="eda_operation_type" name="django_form_input_operation_type">
                                      <option value="equals">Equals(=)</option>
                                      <option value="contains">Text Contains SubString</option>
                                      <option value="starts_with">Text Starts With</option>
                                      <option value="ends_with">Text Ends With</option>
                                      <option value="regex">REGEX</option>
                                    </select>
                                  <button type="button" style="color:green;" id="choose_button1" onclick="eda_operation_type_function()">Choose</button>

                                  <script>
                                    document.getElementById('choose_button1').onclick = changeColor; 
                                    function changeColor() { 
                                              document.getElementById('choose_button1').style.color = "red";
                                                }
                                  </script>


                                  <script>
                                    function eda_operation_type_function() {
                                        //var operation_type = document.getElementById("eda_operation_type").selectedIndex;
                                        // ABOVE Will Give Numeric INDEX for option.value == 0,1,2,3,4== REGEX
                                        var operation_type = document.getElementById("eda_operation_type").value;
                                        // console.log(operation_type) 
                                        // alert(operation_type)
                                        
                                      }
                                  </script>
                              </p>

                              <p>
                                  <label for="id_str_search">String to Search:</label>
                                  <input type="text" name="str_search" maxlength="1000" id="id_str_search">
                              </p>
                              <p>
                                  <label for="id_str_replace">String to Replace:</label>
                                  <input type="text" name="str_replace" maxlength="1000" id="id_str_replace">
                              </p>
                            <button type="submit">Submit</button>
                            </form>  <!-- /.form --> 

                            </div> 
                            <!-- ENDS == conditional_EDA_SearchAndReplace -->
                        

                          <script>
                            $(document).ready(function() {
                                            $('#conditional_EDA_SearchAndReplace').hide();
                                        });
                          </script>

                          <script>
                              $('#EDA_SearchAndReplace').change(function() {
                                if(this.checked != true){
                                    $("#conditional_EDA_SearchAndReplace").hide();
                                    $("#checkbox_for_eda_MatchSimilarText").show(); // SHOW - CHECKBOX for -- MatchSimilarText
                                    //eda_MatchSimilarText == For CheckBox 
                                    $("#eda_MatchSimilarText").show();
                                    // id_labeleda_MatchSimilarText
                                    $("#id_labeleda_MatchSimilarText").show();
                                    //
                                    //$("#conditional_eda_Extract_Email_Parts").show(); 
                                    //id_label_Extract_Email_Parts
                                    $("#id_label_Extract_Email_Parts").show();  
                                    //eda_Extract_Email_Parts
                                    $("#eda_Extract_Email_Parts").show(); 
                                    
                                    $("#id_checkbox_Extract_Date_Parts").show();
                                    
                      
                                    }
                                else{
                                    $("#conditional_EDA_SearchAndReplace").show(); // SHOW - Search and Replace
                                    $("#checkbox_for_eda_MatchSimilarText").hide(); // HIDE - CHECKBOX for -- MatchSimilarText
                                    $("#eda_MatchSimilarText").hide();
                                    // id_labeleda_MatchSimilarText
                                    $("#id_labeleda_MatchSimilarText").hide();
                                    //$("#conditional_eda_Extract_Email_Parts").hide(); 
                                    //id_label_Extract_Email_Parts
                                    $("#id_label_Extract_Email_Parts").hide();  
                                    //eda_Extract_Email_Parts
                                    $("#eda_Extract_Email_Parts").hide(); 
                                    
                                    $("#id_checkbox_Extract_Date_Parts").hide();

                                    var SearchAndReplaceTTS = new SpeechSynthesisUtterance(" You have chosen , to SEARCH and REPLACE ,  SUBSTRINGS or COMPLETE TEXT STRINGS , within SENTENCES AND RECORDS . ");
                                    SearchAndReplaceTTS.rate = 0.90; // behaves differently on Firefox and Chrome. 
                                    window.speechSynthesis.speak(SearchAndReplaceTTS);
                                    
                      
                                
                                    //document.getElementById("#conditional_EDA_SearchAndReplace").style.color = "red";

                                    }
                                    });
                          </script> <!--  ENDs == EDA_SearchAndReplace -->






                      <!--  STARTS == eda_MatchSimilarText -->
                    <div id ="checkbox_for_eda_MatchSimilarText" class="custom-control custom-checkbox mb-3">  <!--  STARTS == eda_MatchSimilarText -->
                    <input type="checkbox" class="custom-control-input" id="eda_MatchSimilarText" name="eda_MatchSimilarText">
                    <label id="id_labeleda_MatchSimilarText" class="custom-control-label" for="eda_MatchSimilarText">Match Similar Text</label>
                    </div>
                
                    <div id="conditional_eda_MatchSimilarText">
                        <form action=/dc/eda_actionMatchSimilarText_/ method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            <p>
                                <label for="id_fuzziness">Fuzziness:</label>
                                <input type="text" name="fuzziness" maxlength="1000" id="id_fuzziness">
                            </p>
                            
                            <p>
                                <label for="id_str_to_compare_with">String to Compare:</label>
                                <input type="text" name="str_to_compare_with" maxlength="1000" id="id_str_to_compare_with">
                            </p>
                          <button id="id_buttonMatchSubmit" type="submit">Submit</button>
                          </form>  <!-- /.form --> 
                    </div> <!-- ENDS == conditional_eda_MatchSimilarText -->

                    <script>
                    var id_buttonMatchSubmit = document.getElementById('id_buttonMatchSubmit');
                    var url_MatchSimilarText = "{% url 'call_eda_MatchSimilarText_renderPage' %}" //
                    id_buttonMatchSubmit.onclick = function() {
                        window.parent.location = url_MatchSimilarText;
                        //alert(url_MatchSimilarText)
                    } 
                    </script>




                        <script>
                          $(document).ready(function() {
                                          $('#conditional_eda_MatchSimilarText').hide();
                                      });
                        </script>
                        <script>
                            $('#eda_MatchSimilarText').change(function() {
                              if(this.checked != true){
                                  $("#conditional_eda_MatchSimilarText").hide();
                                  $("#checkbox_for_eda_SearchAndReplace").show();
                                  //$("#conditional_eda_Extract_Email_Parts").show();
                                  //id_label_Extract_Email_Parts
                                  $("#id_label_Extract_Email_Parts").show();  
                                  //eda_Extract_Email_Parts
                                  $("#eda_Extract_Email_Parts").show(); 
                                  $("#id_checkbox_Extract_Date_Parts").show();
                      
                                  }
                              else{
                                  $("#conditional_eda_MatchSimilarText").show();
                                  var MatchSimilarTextTTS = new SpeechSynthesisUtterance(" You have chosen , to MATCH SIMILAR TEXT Basis the , Text DISTANCE MEASURE , and FUZZY LOGIC. ");
                                  MatchSimilarTextTTS.rate = 0.90; // behaves differently on Firefox and Chrome. 
                                  window.speechSynthesis.speak(MatchSimilarTextTTS);
                                
                                  $("#checkbox_for_eda_SearchAndReplace").hide();
                                  $("#conditional_eda_Extract_Email_Parts").hide(); 
                                  //id_label_Extract_Email_Parts
                                  $("#id_label_Extract_Email_Parts").hide(); 
                                  //eda_Extract_Email_Parts
                                  $("#eda_Extract_Email_Parts").hide(); 
                                  $("#id_checkbox_Extract_Date_Parts").hide();
                      
                                  //document.getElementById("#conditional_eda_MatchSimilarText").style.color = "red";
                                  }
                                  });
                        </script> <!--  ENDs == eda_MatchSimilarText -->

                    </div>
                   
                          
<!-- ENDS class="modal_EDAColActions_body"> -->


          <script>
                  // Get the modal
                  //var myModal1 = document.getElementById('myModal1');
                  // Get the <span> element that closes the modal
                  //var myModal1span = document.getElementsByClassName("modal_DropDownMenu_close")[0];
                  // When the user clicks on <span> (x), close the modal
                    //myModal1span.onclick = function() {
                    //myModal1.style.display = "none";
                    //$('.checkbox_for_Summary_in_ModalPopUp1').prop('checked', false);
                    //Summary_in_ModalPopUp1
                    //$('.Summary_in_ModalPopUp1').prop('checked', false);
                    //$('.checkbox_for_Summary_in_ModalPopUp1')[0].checked = false;
                //     $('.Summary_in_ModalPopUp1').prop('checked', false);
                //     $('.checkbox_for_Summary_in_ModalPopUp1').prop('checked', false);
                      
                //   }


                  // When the user clicks anywhere outside of the modal, close it
                //   window.onclick = function(event) {
                //       alert("===window.onclick==") // JIRA_ROHIT_PendingTask == Doesnt get in here ?? 
                //     if (event.target == myModal1) {
                //       myModal1.style.display = "none";
                //       //$('.Summary_in_ModalPopUp1').prop('checked', false);
                //       //$('.checkbox_for_Summary_in_ModalPopUp1').prop('checked', false);
                //       //$('.checkbox_for_Summary_in_ModalPopUp1')[0].checked = false;
                //                     }
                //                 }
          </script> <!--  Modal SCRIPT ENDS -->

            <!-- OLD MODAL CODE == Not Required in SideBar 
                <script>
            $(document).ready(function() {
                            $('#conditional_Summary_in_ModalPopUp1').hide();
                        });
            </script>
              
            <script>
              var modal1 = document.getElementById('myModal1');

                $('#Summary_in_ModalPopUp1').change(function() {
                  if(this.checked != true){
                    //alert("==.change(function(==")
                      $("#conditional_Summary_in_ModalPopUp1").hide();
                      $("#conditional_eda_Extract_Email_Parts").show(); 
                      $("#id_checkbox_Extract_Date_Parts").show();
                      //modal1.style.display = "none"; 
                      }
                  else{
                      //alert("=ELSE=.change(function(==")
                      $("#conditional_Summary_in_ModalPopUp1").show();
                      $("#conditional_eda_Extract_Email_Parts").hide(); 
                      $("#id_checkbox_Extract_Date_Parts").hide();
                      

                      //modal1.style.display = "block"; 
                      //$("body").css("overflow","hidden"); // Make Entire PAGE Unscrollable
                      //$('html, body').css({ overflow: 'hidden', height: '100%' });
                      }
                      });
            </script>  -->





 <!--  STARTS == Extract Email Parts -->
 <div id ="id_checkbox_Extract_Email_Parts" class="custom-control custom-checkbox mb-3"> 
    <input type="checkbox" class="custom-control-input" id="eda_Extract_Email_Parts" name="eda_Extract_Email_Parts">
    <label id="id_label_Extract_Email_Parts" class="custom-control-label" for="eda_Extract_Email_Parts">Extract Email Parts</label>
    </div>

    <div id="conditional_eda_Extract_Email_Parts">

                <p>
                    You Choose a COLUMN which contains email addresses , by Clicking on any row of the COLUMN . 
                    <br>
                    The email address - local part [NAME or other Text before the @] , and the domain part are extracted from the email addresses. 
                    <br>
                    The extracted data is put into two new columns.
                    <br>
                    
                </p>
              
              <input type="button" onclick="myFunc_renderPage_extractEmailPart()" value="CLICK ME">
              

    </div> 
    <!-- == ENDS == id="conditional_eda_Extract_Email_Parts"> -->

    <script>
        var csrftoken_merge = jQuery("[name=csrfmiddlewaretoken]").val();
        var emailPartsButtonClicked = 1 

        function myFunc_renderPage_extractEmailPart() {

        //var var_id_button_Extract_Email_Parts = document.getElementById('id_button_Extract_Email_Parts');
        // alert("button===")

        var renderPage_extractEmailPart = "{% url 'call_renderPage_extractEmailPart' %}" //

        // alert(renderPage_extractEmailPart)

            $.ajax({
                    url:renderPage_extractEmailPart,
                    type: "POST",
                    dataType: 'json', 
                    //data: JSON.stringify({
                    data: {
                        emailPartsButtonClicked: emailPartsButtonClicked,
                        csrfmiddlewaretoken: csrftoken_merge,
                        },
                    });
                    // JIRA_ROHIT_PendingTask -- FOO -- this needs to be fixed --- why wont it got main page with just a AJAX call 
                        window.parent.location = renderPage_extractEmailPart;
                        var Extract_Email_FreeTTS = new SpeechSynthesisUtterance(" EXTRACT EMAIL PARTS . ");
                        var Extract_Email_FreeTTS1 = new SpeechSynthesisUtterance(" This Exploratory Data Analysis ACTION ,  will SPLIT the EMAIL ADDRESS , into LOCAL NAME and , DOMAIN ADDRESS . ");
                        Extract_Email_FreeTTS.rate = 0.90; // behaves differently on Firefox and Chrome. 
                        Extract_Email_FreeTTS1.rate = 0.90; 
                    window.speechSynthesis.speak(Extract_Email_FreeTTS);
                    window.speechSynthesis.speak(Extract_Email_FreeTTS1);
            };

    </script>





    <script>
        // JIRA_ROHIT_PendingTask Not able to get the --- Chevron element from eda_sidebar - to create a onClick in here ?? 
        //   var p_clicked = document.getElementById('id_edaOnColActions_ChildMenuB');
        //                  p_clicked.onclick = function() {
        //                       alert("===JIRA_ROHIT_PendingTask=2==")
        //                   };
        
    </script>
    


    <script>
            $(document).ready(function() {
                            $('#conditional_eda_Extract_Email_Parts').hide();
                        });
    </script>

    <script>

              $('#eda_Extract_Email_Parts').change(function() {
                if(this.checked != true){
                    $("#conditional_eda_Extract_Email_Parts").hide(); 
                    var var_id_checkbox_Extract_Email_Parts = document.getElementById('id_checkbox_Extract_Email_Parts');
                    var_id_checkbox_Extract_Email_Parts.setAttribute("style", "color: white; background-color:  rgba(110, 156, 131, 0.966); fontWeight:bold;");
                    var delay_foo = 8000;
                    setTimeout(function() {
                    var_id_checkbox_Extract_Email_Parts.removeAttribute("style", "color: white; background-color:  rgba(110, 156, 131, 0.966); fontWeight:bold;");
                    }, delay_foo);
                    $("#id_checkbox_Extract_Date_Parts").show();
                    $("#checkbox_for_eda_SearchAndReplace").show();
                    $("#eda_MatchSimilarText").show();
                    $("#id_labeleda_MatchSimilarText").show();
                    }
                else{
                    $("#conditional_eda_Extract_Email_Parts").show();
                    $("#checkbox_for_eda_SearchAndReplace").hide();
                    $("#id_checkbox_Extract_Date_Parts").hide();
                    $("#eda_MatchSimilarText").hide();
                    $("#id_labeleda_MatchSimilarText").hide();
                    var Extract_Email_PartsTTS = new SpeechSynthesisUtterance(" You have chosen , to EXTRACT EMAIL PARTS , from TEXT STRINGS. ");
                    Extract_Email_PartsTTS.rate = 0.90; // behaves differently on Firefox and Chrome. 
                    window.speechSynthesis.speak(Extract_Email_PartsTTS);
                    document.getElementById('id_checkbox_Extract_Email_Parts').setAttribute("style", "color: white; background-color:green ; fontWeight:bold;");
                    }
                    });
          </script> 

<!--  ENDS == eda_Extract_Email_Parts -->



    <!--  STARTS == eda_Extract_Date_Parts -->
 <div id ="id_checkbox_Extract_Date_Parts" class="custom-control custom-checkbox mb-3">  
    <input type="checkbox" class="custom-control-input" id="eda_Extract_Date_Parts" name="eda_Extract_Date_Parts">
    <label class="custom-control-label" for="eda_Extract_Date_Parts">Extract Date Parts</label>
    </div>



</body>
</html>
