<!-- templates/404.html -->

{% extends "base.html" %}

{% block content %}
<div class='row'>
<div class='col text-center'>

<br>
<br>
<p style="color:rgb(172, 36, 36);">Thats a 403 PERMISSION DENIED - have you been naughty lately ? <br>
     You dont have the Right permissions to view this content on <b> Digital Cognition Server's </b></p>
<br>
<p style="color:rgb(47, 186, 190);">Unless ure trying to HACK us - ure out of luck</p>
<p style="color:rgb(47, 186, 190);">Click here to return to the LOGIN page / LANDING page [in case ure already logged into Ditital Cognition]</p>

</div>
</div>
{% endblock %}