<!-- templates/404.html -->

{% extends "base.html" %}

{% block content %}
<div class='row'>
<div class='col text-center'>

<br>
<br>
<p style="color:rgb(172, 36, 36);">You are being sent a 404 response from the SERVER at  <b> Digital Cognition</b></p>
<br>
<p style="color:rgb(47, 186, 190);">Unless ure trying to HACK us - ure out of luck</p>
<p style="color:rgb(47, 186, 190);">Click here to return to the LOGIN page / LANDING page [in case ure already logged into Digital Cognition]</p>

</div>
</div>
{% endblock %}