<div class="container">

    <h3>jQuery DataTables: Sum in footer</h3>
    <a href="https://www.gyrocode.com/articles/tag/jquery-datatables/">See more articles about jQuery DataTables</a> on
     <a href="https://www.gyrocode.com/articles/">Gyrocode.com</a><hr>
    




    <table id="ticketTable" class="display">
            <thead>
                <tr>
                    <th></th>
                    <th>Diarienummer</th>
                    <th>Organisation</th>
                    <th>Status</th>
                    <th class="sum">Sökt antal</th>
                    <th>Godkänt antal</th>
                    <th>Sökt bidrag</th>
                    <th>Godkänt bidrag</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td class="text-center sorting_1">
                        <input data-val="true" data-val-required="Fältet Checked krävs." id="Tickets_0__Checked" name="Tickets[0].Checked" type="checkbox" value="true">
                        <input name="Tickets[0].Checked" type="hidden" value="false">
                        <input data-val="true" data-val-number="The field Id must be a number." data-val-required="Fältet Id krävs." id="Tickets_0__Id" name="Tickets[0].Id" type="hidden" value="8">
                    </td>
                    <td> <a href="/AtlasPartnerskap/Ticket/Overview/8">3.3.1.34.8</a>
    
                    </td>
                    <td>AP Skola 1</td>
                    <td>Beviljad</td>
                    <td>1</td>
                    <td>1</td>
                    <td>20000,00</td>
                    <td>0,00</td>
                    <td> <a href="#" class="application-user-flag" data-applicationid="8" data-applicationflagtype="Ticket"><span class="glyphicon glyphicon-flag"></span></a>
    
                    </td>
                </tr>
                <tr>
                    <td class="text-center sorting_1">
                        <input data-val="true" data-val-required="Fältet Checked krävs." id="Tickets_1__Checked" name="Tickets[1].Checked" type="checkbox" value="true">
                        <input name="Tickets[1].Checked" type="hidden" value="false">
                        <input data-val="true" data-val-number="The field Id must be a number." data-val-required="Fältet Id krävs." id="Tickets_1__Id" name="Tickets[1].Id" type="hidden" value="9">
                    </td>
                    <td> <a href="/AtlasPartnerskap/Ticket/Overview/9">3.3.1.34.9</a>
    
                    </td>
                    <td>AP Skola 2</td>
                    <td>-</td>
                    <td></td>
                    <td></td>
                    <td>30000,00</td>
                    <td></td>
                    <td> <a href="#" class="application-user-flag" data-applicationid="9" data-applicationflagtype="Ticket"><span class="glyphicon glyphicon-flag"></span></a>
    
                    </td>
                </tr>
                <tr>
                    <td class="text-center sorting_1">
                        <input data-val="true" data-val-required="Fältet Checked krävs." id="Tickets_2__Checked" name="Tickets[2].Checked" type="checkbox" value="true">
                        <input name="Tickets[2].Checked" type="hidden" value="false">
                        <input data-val="true" data-val-number="The field Id must be a number."
                        data-val-required="Fältet Id krävs." id="Tickets_2__Id" name="Tickets[2].Id" type="hidden" value="10">
                    </td>
                    <td> <a href="/AtlasPartnerskap/Ticket/Overview/10">3.3.1.34.10</a>
    
                    </td>
                    <td>AP Skola 3</td>
                    <td>-</td>
                    <td>1</td>
                    <td></td>
                    <td>20000,00</td>
                    <td></td>
                    <td> <a href="#" class="application-user-flag" data-applicationid="10" data-applicationflagtype="Ticket">
                        <span class="glyphicon glyphicon-flag"></span></a>
    
                    </td>
                </tr>
            </tbody>
        </table>
    
    <hr><a href="https://www.gyrocode.com/articles/tag/jquery-datatables/">See more articles about jQuery DataTables</a> on 
    <a href="https://www.gyrocode.com/articles/">Gyrocode.com</a>
    
    </div>