<!DOCTYPE html>
<html lang="en">

{% load static %}    
{% include 'dc_dash/bokeh_base.html' %}
{% include 'dc_dash/base.html' %}

    
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Digital Cognition</title>

    <!-- Bootstrap core CSS -->
    <!-- DHANKAR define paths to local STATIC -->
    <!-- DHANKAR - All original Comments from Original Boot template have been retained -->

    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">      

    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">      
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'dist/css/dashboard.css' %}" rel="stylesheet">    
    

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      
      
      
      
      
      
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Robotic Process Automation </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="" style='color: #fff'>Robotic Process Automation</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" style='color: #fff'>Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    
      
<!-- SIDEBAR BLUE STARTS HERE -->                                      
      

<div class="container-fluid">
<div class="row">
<div class="col-sm-3 col-md-2 sidebar">
          
<ul class="nav nav-sidebar">
        <li class="active"><a href="#"> Level [#1] Reporting <span class="sr-only">(current)</span></a></li>

        <li style='background:#00bfff'><a href="{% url 'summary_stats_1' %}">Dashboard</a></li>
        <li style='background:#66d8ff'><a href="{% url 'time_series' %}">Chart</a></li>


</ul>

<ul class="nav nav-sidebar">
        <li class="active"><a href="#">TABLE [#1] Upload Excel <span class="sr-only">(current)</span></a></li>

        <li style='background:#00bfff'><a href="{% url 'dataup_1' %}">Initial Upload</a></li>
        <li style='background:#66d8ff'><a href="{% url 'chart_1' %}">Create Charts</a></li>    
        <li style='background:#ff8282;'><a href="{% url 'data_del_4' %}">DELETE DATA TABLE</a></li>    

</ul>


<ul class="nav nav-sidebar">
        <li class="active"><a href="#">TABLE [#2] Upload Excel <span class="sr-only">(current)</span></a></li>

        <li style='background:#00bfff'><a href="{% url 'dataup_1' %}">Initial Upload</a></li>
        <li style='background:#66d8ff'><a href="{% url 'chart_1' %}">Create Charts</a></li>    
        <li style='background:#ff8282;'><a href="{% url 'data_del_4' %}">DELETE DATA TABLE</a></li>    

</ul>

</div>
          
          
<!-- SIDEBAR BLUE ENDS HERE -->                                      
          
          
          
          
          
          
<!-- Ist MAIN Starts Dont EDIT HERE -->                            
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row placeholders">
            

              
              
              
              
<h1 class="page-header"style='color:red'>The Globe and Mail - Canada Finance</h1>    
  
              
<!-- Ist BootStrap COLUMN Starts  -->                            
              
<div class='col-sm-6'>
<i class="fa fa-file-excel-o fa-2x"></i> 

<br>

    <div class="controls">
    <button class="btn btn-danger btn-sm" value="None Required" onClick="window.location.reload()">RELOAD DATA</button>
    </div><!-- controls -->
    

<!-- Bokeh Starts================================================== -->
    
{% block content %}
<div>
        {% load static %}
        <link rel='stylesheet' href={{cdn_css|safe}} type="text/css"/>
        <script type="text/javascript" src={{cdn_js|safe}}></script>

</div>

<div>

       {{div|safe}}
       {{js|safe}}
</div>


{% endblock %}
    
    
    <!-- Bokeh Ends
    ================================================== -->
    
    

</div>

<!-- Ist BootStrap COLUMN Ends  -->                  
              
              
         
              
            
            
              
              
              
              
              
              
              
              
              
<br>
<a class="btn btn-success" href="{% url 'index_1' %}" role="button" >MAIN PAGE</a>    
<br>       
<hr>
              
              
              
              
              
              
              
            
              
              
              
            
            
<!-- DONT Change Anything Below here   -->                                        
              
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
      
      
      <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')</script>
      
      
      
    <script src="/dist/js/bootstrap.min.js"></script>
    <link href="{% static 'assets/js/vendor/jquery.min.js' %}" rel="stylesheet">     
      
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
      
      
      
      <!-- FLOT Charts -->
            
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.7/jquery.flot.min.js">
        </script>

      
      
  </body>
</html>
